---
import { getCollection } from "astro:content";
import BlogCard from "../../components/BlogCard.astro";
import BlogListLayout from "../../layouts/ListBaseLayout.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BlogListLayout pageTitle="Blog List">

    <!--<div class="min-h-1 columns-1 lg:columns-2 gap-6 lg:gap-8 mx-auto">-->
    <!--    {posts.map((post) => <BlogCard post={post} />)}-->
    <!--</div>-->
    <div class="min-h-1 columns-1 gap-6 mx-auto">
        {posts.map((post) => <BlogCard post={post} />)}
    </div>
</BlogListLayout>
