---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404 Not Found">
    <div class="mt-[27vh] min-w-72">
        <h1 class="text-center">Something Went Wrong</h1>
    </div>
</BaseLayout>
