---
import "@css/global.css";
import "@css/prism-one-light.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CONSTS from "~/consts";

type Props = {
    pageTitle?: string;
};

const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle ? pageTitle : CONSTS.SITE_TITLE}</title>
    </head>
    <body>
        <Header />
        <main class="max-w-screen-xl mx-auto px-4">
            <slot />
        </main>
        <Footer />
    </body>
</html>
